<include file="Public/header" />
<include file="Public/side" />
<style type="text/css">
	.change_form{
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	.layout{
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		background: #000000;
		z-index: 5;
	}
	.change_form .form-content{
		position: absolute;
		width: 50%;
		height: 50%;
		left: 25%;
		top: 25%;
		z-index: 6;
		background: #ffffff;
		border-radius: 8px;
		padding: 20px;
	}
	#submit{
		margin-bottom: 5px;
	}
	.insert_row{
		margin-bottom: 10px;
	}
</style>
<script type="text/javascript">
	$(function(){
		$('.layout').click(function(){
			$('.change_form').css('display','none');
		});
	});
	function changePasswd(id){
		// var url='__URL__/changePasswd/id/'+id;
		// $('.change_form form').attr('action',url);
		$("#userid").val(id);
		var fieldH=$('fieldset').height();
		var formH=$('.form-content').height();
		console.log(formH-fieldH);
		$('#passwd').css('margin-bottom',formH-fieldH);
		$('.change_form').css('display','block');

		// var userid=$("#userid").val();

		// window.location='__URL__/changePasswd/id/'+id;
	}
</script>
<div class="row col-xs-10 insert_row">
		<button class="btn btn-primary btn-sm" onclick="window.location='__URL__/createactivity'">新增活动</button>
</div>
<div class="row col-xs-10 activity">
	<ul class="list-group">
	  <li class="list-group-item">
	  	<div class="row col-xs-2">活动名称</div>
	  	<div class="row col-xs-4">活动内容</div>
	  	<div class="row col-xs-2">开始时间</div>
	  	<div class="row col-xs-2">结束时间</div>
	  	<div class="row col-xs-2">状态</div>
	  </li>

	  <volist name="activityArr" id="vo">
	  	<li class="list-group-item">
	  		<div class="row col-xs-2">{$vo.title}</div>
	  		<div class="row col-xs-4">{$vo.content|substr=0,20}...</div>
	  		<div class="row col-xs-2">{$vo.start_datetime|substr=0,10}</div>
	  		<div class="row col-xs-2">{$vo.end_datetime|substr=0,10}</div>
		  	<div class="row col-xs-2">
		  		<if condition="$vo.status == 1">
		  			<a href="__URL__/toggleaccount/id/{$vo.id}">禁用</a>
		  			<else />
		  			<a href="__URL__/toggleaccount/id/{$vo.id}">启用</a>
		  		</if>
	  			<a href="javascript:void(0);" onclick="changePasswd({$vo.id})">密码修改</a>
		  		
		  	</div>
	  	</li>
	  </volist>
	</ul>
</div>
<!-- <div class="row change_form">
	<div class="layout"></div>
	<div class="form-content">
		<form action="__URL__/changePasswd" method="post">
			<fieldset>
				<legend>密码修改</legend>
				 <label>新密码：</label>
				 <input type="hidden" class="form-control" placeholder="" name="userid" id="userid">
				 <input type="text" class="form-control" placeholder="" name="passwd" id="passwd">
				 <button type="submit" class="btn btn-block btn-primary" id="submit">提交</button>
			</fieldset>
		</form>
	</div>
	
</div> -->


<include file="Public/footer" />




