<include file="Public/header" />
<include file="Public/side" />
<style type="text/css">
	.change_form{
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	.layout{
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		background: #000000;
		z-index: 5;
	}
	.change_form .form-content{
		position: absolute;
		width: 50%;
		height: 50%;
		left: 25%;
		top: 25%;
		z-index: 6;
		background: #ffffff;
		border-radius: 8px;
		padding: 20px;
	}
	#submit{
		margin-bottom: 5px;
	}
	.insert_row{
		margin-bottom: 10px;
	}
</style>
<script type="text/javascript">
	$(function(){
		$('.layout').click(function(){
			$('.change_form').css('display','none');
		});
	});
	function changePasswd(id){
		// var url='__URL__/changePasswd/id/'+id;
		// $('.change_form form').attr('action',url);
		$("#userid").val(id);
		var fieldH=$('fieldset').height();
		var formH=$('.form-content').height();
		console.log(formH-fieldH);
		$('#passwd').css('margin-bottom',formH-fieldH);
		$('.change_form').css('display','block');

		// var userid=$("#userid").val();

		// window.location='__URL__/changePasswd/id/'+id;
	}
	function deleteUser(id){
		var r=confirm("将会删除该用户的所有记录，是否确认删除？");
		if (r==true){
			url='__URL__/deleteUser/id/'+id;
			window.location=url;
		}else{
			return false;
		}
	}
</script>
<div class="row col-xs-10 insert_row">
	<form action="__URL__/insertaccount" method="post">
		<div class="row col-xs-2">
		新增用户：
		</div>
		<div class="row col-xs-4">
			用户名：<input type="text" name="newaccount">
		</div>
		<div class="row col-xs-4">
			密码：<input type="text" name="newpasswd">
		</div>
		<div class="row col-xs-3">
			<button type="submit" class="btn btn-primary btn-sm">新增</button>
		</div>
	</form>
</div>
<div class="row col-xs-10">
	<ul class="list-group">
	  <li class="list-group-item">
	  	<div class="row col-xs-4">账号</div>
	  	<div class="row col-xs-4">类型</div>
	  	<div class="row col-xs-4">状态</div>
	  </li>

	  <volist name="userArr" id="vo">
	  	<li class="list-group-item">
	  		<div class="row col-xs-4">{$vo.account}</div>
		  	<div class="row col-xs-4">
			  	<if condition="$vo.type == 0">用户
			  		<else />管理员
			  	</if>
		  	</div>
		  	<div class="row col-xs-4">
		  		<if condition="$vo.status == 1">
		  			<a href="__URL__/toggleaccount/id/{$vo.id}">禁用</a>
		  			<else />
		  			<a href="__URL__/toggleaccount/id/{$vo.id}">启用</a>
		  		</if>
	  			<a href="javascript:void(0);" onclick="changePasswd({$vo.id})">密码修改</a>
	  			<if condition="$vo.type == 0">
	  				<a href="javascript:void(0);" onclick="deleteUser({$vo.id})">删除</a>
			  	</if>
		  		
		  	</div>
	  	</li>
	  </volist>
	</ul>
</div>
<div class="row change_form">
	<div class="layout"></div>
	<div class="form-content">
		<form action="__URL__/changePasswd" method="post">
			<fieldset>
				<legend>密码修改</legend>
				 <label>新密码：</label>
				 <input type="hidden" class="form-control" placeholder="" name="userid" id="userid">
				 <input type="text" class="form-control" placeholder="" name="passwd" id="passwd">
				 <!-- <input type="text" />  -->
				 <!-- <span class="help-block">这里填写帮助信息.</span>  -->
				 <!-- <label class="checkbox"><input type="checkbox" /> 勾选同意</label>  -->
				 <button type="submit" class="btn btn-block btn-primary" id="submit">提交</button>
			</fieldset>
		</form>
	</div>
	
	<!-- <form action="" method="post">
		<div class="input-group">
		  <label>新密码：</label>
		  <input type="text" class="form-control" placeholder="" name="passwd" id="passwd">
		</div>
		<div class="input-group">
		  <button type="submit" class="form-control btn btn-block btn-primary" value="提交" name="submit" id="submit">提交
		  </button>
		</div>
	</form> -->
</div>


<include file="Public/footer" />




