<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>

<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/js/custom.js"></script>

<!-- <script src="__PUBLIC__/dist/onewash.min.js"></script> -->

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="css/custom.css"> -->
<link rel="stylesheet" href="__PUBLIC__/css/custom.css">
<title>泰笛投票系统</title>
</head>
<body>
<div class="container">
<div class="page-header">
  <h2>泰笛洗涤<small>投票系统</small>
  	<if condition='$userid'>
  	<a href="__URL__/logout">退出</a>
  	<else />
  	</if>
  </h2>
</div>
