<include file="Public/header" />
<div class="row col-xs-12">
<!-- <div class="jumbotron">
	<h1>{$title}</h1>
	<p>{$content}</p>
	<p>活动执行时间：{$strDatetime} —— {$endDatetime}</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">查看结果</a></p>
</div> -->

	<volist name="activityArr" id="vo" key="k">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="..." alt="...">
			<div class="caption">
				<!-- <h3>{$k}</h3> -->
				<p>活动名称：{$vo.title}</p>
				<p>活动内容：{$vo.content|substr=0,20}...</p>
				<p>投票开始时间：{$vo.start_datetime}</p>
				<p>投票截止时间：{$vo.end_datetime}</p>
				<p>
				<a href="__URL__/activityInfo/id/{$vo.id}" class="btn btn-primary" role="button">前往&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a> 
				</p>
			</div>
		</div>
	</div>
	</volist>
</div>

<include file="Public/footer" />